$colorOne: #24b8f0;
$colorTwo: white;
$fontOne: 'MagistralC-Bold', sans-serif;
$fontTwo: 'MagistralC', sans-serif;
$font_h1Small: 1.3em;
$font_h2Small: 1.1em;
$font_h1Middle: 2.2em;
$font_h2Middle: 1.9em;
$font_h1Big: 3em;
$font_h2Big: 2.4em;
$visibility: rgba(17, 17, 17, 0.9);
$visibilityTwo: rgba(17, 17, 17, 0.5);

@font-face {
  font-family: 'MagistralC-Bold';
  src: url("../fonts/MagistralC-Bold.ttf");
}

@font-face {
  font-family: 'MagistralC';
  src: url("../fonts/MagistralC.ttf");
}

body {
  margin: 0;
}

.background_video {
  overflow: hidden;
  position: relative;

  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }
}

.contentOne {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  top: 0;
  background: $visibilityTwo;
}

.navbar {
  height: 100px;
  background: $visibility;
  width: 100vw;

  a {
    display: block;
    text-decoration: none;
    line-height: 25px;
  }
}

.navbarOne {
  display: inline-block;
  height: 100px;
  width: 45vw;
  padding-left: 10vw;
  box-sizing: border-box;
  vertical-align: top;

  p {
    line-height: 25px;
    margin: 0;
  }

  .you_city {
    display: inline-block;
    height: 25px;
    margin-top: 25px;
    p {
      font-family: $fontTwo;
      color: $colorTwo;
      font-size: $font_h2Small;
    }
  }

  .name_city {
    display: inline-block;
    height: 25px;
    p {
      font-family: $fontOne;
      color: $colorOne;
      font-size: $font_h1Small;
      padding-left: .5vw;
    }
  }

  a {
    font-family: $fontOne;
    color: $colorTwo;
    font-size: 1.2em;
    font-style: italic;
  }
}

.navbarTwo {
  display: inline-block;
  margin: 5px 0;
  height: 90px;
  width: 10vw;
  background: url("../img/logo.webp") no-repeat center;
  background-size: contain;
}

.navbarThree {
  display: inline-block;
  height: 100px;
  width: 45vw;
  padding-right: 10vw;
  box-sizing: border-box;
  text-align: right;
  vertical-align: top;

  .leftThree {
    display: inline-block;
    height: 100px;
    width: 15vw;

    i {
      color: $colorTwo;
      font-size: 30px;
      margin: 35px 0;
    }
  }

  .rightThree {
    display: inline-block;
    width: 180px;
    vertical-align: top;
  }

  .phone {
    font-size: $font_h1Small;
    font-family: $fontOne;
    color: $colorOne;
    padding-top: 25px;
  }

  .mail {
    font-size: $font_h2Small;
    font-family: $fontTwo;
    font-style: italic;
    color: $colorTwo;
    text-align: right;
  }

}

.descriptionSchool {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url("../img/pointbg3.png");

  .content_description {
    width: 840px;
    height: 40vh;
    text-align: center;

    .welcome {
      font-family: $fontOne;
      font-size: $font_h2Big;
      font-style: italic;
      text-transform: uppercase;
      color: $colorOne;
      margin: 0;
      border-top: 2px solid $colorTwo;
      border-bottom: 2px solid $colorTwo;
    }

    .slang {
      font-family: $fontTwo;
      font-size: 2em;
      font-style: italic;
      color: $colorTwo;
      margin: 0;
    }
  }
}

.record {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 29vh;
  padding: 2vh 0;
  box-sizing: border-box;

  div {
    width: 40%;
  }

  h1 {
    text-align: center;
    margin: 0;
    display: inline-block;
    font-family: $fontOne;
    font-size: $font_h1Middle;
    font-style: italic;
    color: $colorOne;

  }

  h2 {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 1vh;
    font-family: $fontOne;
    font-size: $font_h2Middle;
    font-style: italic;
    color: $colorOne;

  }

  p {
    text-align: center;
    margin: 0;
    font-family: $fontTwo;
    font-size: $font_h1Small;
    color: $colorTwo;
    font-style: italic;
  }
}

.history {
  width: 100vw;

}







//old page


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 999;
}

footer p {
  text-align: center;
  color: #e3e4e6;
  font-family: $fontTwo;
}

.latest_1,
.latest_2,
.icons-wrap {
  display: inline-block;
  text-transform: uppercase;
  font-size: .85em;
}

.icons-wrap {
  margin: 0 1vw;
}

.icons-wrap a {
  padding: 0 0.5vh;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

.icons-wrap i:hover {
  transform: scale(1.3);
  transition: .2s;
}

.fa-instagram:hover {
  color: #ff8847;
}

.fa-vk:hover {
  color: #1c4889;
}

.fa-pinterest-p:hover {
  color: #61a8c1;
}

.latest_2 a {
  text-decoration: none;
}

.onediv {
  width: 100%;
  height: 100vh;
  background-color: $colorTwo;
}

.twodiv {
  width: 100%;
  height: 100vh;
  background-color: $colorOne;
}
