@font-face {
  font-family: 'MagistralC-Bold';
  src: url("../fonts/MagistralC-Bold.ttf"); }
@font-face {
  font-family: 'MagistralC';
  src: url("../fonts/MagistralC.ttf"); }
body {
  margin: 0; }

.name_page {
  background: url("../img/pointbg3.png") rgba(32, 32, 32, 0.9);
  padding: 50px 0;
  text-align: center; }
  .name_page .name_header {
    display: inline-block;
    font-family: "MagistralC-Bold", sans-serif;
    font-style: italic;
    font-size: 3em;
    color: #24b8f0;
    margin: 0;
    padding: 0 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }

.background_video {
  overflow: hidden;
  position: relative; }
  .background_video video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; }

.contentOne {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  top: 0;
  background: rgba(17, 17, 17, 0.5); }

.navbar {
  height: 100px;
  background: rgba(17, 17, 17, 0.9);
  width: 100vw; }
  .navbar a {
    display: block;
    text-decoration: none;
    line-height: 25px; }

.navbarOne {
  display: inline-block;
  height: 100px;
  width: 45vw;
  padding-left: 10vw;
  box-sizing: border-box;
  vertical-align: top; }
  .navbarOne p {
    line-height: 25px;
    margin: 0; }
  .navbarOne .you_city {
    display: inline-block;
    height: 25px;
    margin-top: 25px; }
    .navbarOne .you_city p {
      font-family: "MagistralC", sans-serif;
      color: white;
      font-size: 1.1em; }
  .navbarOne .name_city {
    display: inline-block;
    height: 25px; }
    .navbarOne .name_city p {
      font-family: "MagistralC-Bold", sans-serif;
      color: #24b8f0;
      font-size: 1.3em;
      padding-left: .5vw; }
  .navbarOne a {
    font-family: "MagistralC-Bold", sans-serif;
    color: white;
    font-size: 1.2em;
    font-style: italic; }

.navbarTwo {
  display: inline-block;
  margin: 5px 0;
  height: 90px;
  width: 10vw;
  background: url("../img/logo.webp") no-repeat center;
  background-size: contain; }

.navbarThree {
  display: inline-block;
  height: 100px;
  width: 45vw;
  padding-right: 10vw;
  box-sizing: border-box;
  text-align: right;
  vertical-align: top; }
  .navbarThree .leftThree {
    display: inline-block;
    height: 100px;
    width: 15vw; }
    .navbarThree .leftThree i {
      color: white;
      font-size: 30px;
      margin: 35px 0; }
  .navbarThree .rightThree {
    display: inline-block;
    width: 180px;
    vertical-align: top; }
  .navbarThree .phone {
    font-size: 1.3em;
    font-family: "MagistralC-Bold", sans-serif;
    color: #24b8f0;
    padding-top: 25px; }
  .navbarThree .mail {
    font-size: 1.1em;
    font-family: "MagistralC", sans-serif;
    font-style: italic;
    color: white;
    text-align: right; }

.descriptionSchool {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url("../img/pointbg3.png"); }
  .descriptionSchool .content_description {
    width: 840px;
    height: 40vh;
    text-align: center; }
    .descriptionSchool .content_description .welcome {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 2.4em;
      font-style: italic;
      text-transform: uppercase;
      color: #24b8f0;
      margin: 0;
      border-top: 2px solid white;
      border-bottom: 2px solid white; }
    .descriptionSchool .content_description .slang {
      font-family: "MagistralC", sans-serif;
      font-size: 2em;
      font-style: italic;
      color: white;
      margin: 0; }

.record {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 29vh;
  padding: 2vh 0;
  box-sizing: border-box; }
  .record div {
    width: 40%; }
  .record h1 {
    text-align: center;
    margin: 0;
    display: inline-block;
    font-family: "MagistralC-Bold", sans-serif;
    font-size: 2.2em;
    font-style: italic;
    color: #24b8f0; }
  .record h2 {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 1vh;
    font-family: "MagistralC-Bold", sans-serif;
    font-size: 1.9em;
    font-style: italic;
    color: #24b8f0; }
  .record p {
    text-align: center;
    margin: 0;
    font-family: "MagistralC", sans-serif;
    font-size: 1.3em;
    color: white;
    font-style: italic; }

.school_description {
  background: url("../img/school.jpg");
  background-size: contain; }
  .school_description h1 {
    font-family: "MagistralC-Bold", sans-serif;
    font-style: italic;
    font-size: 3em;
    color: #24b8f0;
    text-align: center;
    margin: 0; }
  .school_description p {
    font-family: "MagistralC-Bold", sans-serif;
    font-size: 1.6em;
    color: white;
    text-align: justify;
    margin: 0.5vw 0; }
  .school_description .history_description,
  .school_description .idea_description,
  .school_description .method_description {
    display: inline-block;
    width: 40vw;
    height: 450px;
    background: rgba(32, 32, 32, 0.9);
    padding: 2vw;
    box-sizing: border-box;
    vertical-align: top; }

.history {
  width: 100%;
  background: url("../img/history_1920.jpg");
  background-size: cover;
  height: 450px;
  text-align: right; }
  .history .section {
    display: inline-block;
    border-left: 150px solid transparent;
    border-top: 450px solid rgba(32, 32, 32, 0.9); }
  .history .history_description h1 {
    padding: 2vw; }

.idea {
  width: 100%;
  background: url("../img/idea_1920.jpg");
  background-size: cover;
  height: 450px;
  text-align: left; }
  .idea .section_baseline {
    display: inline-block;
    border-right: 150px solid transparent;
    border-top: 450px solid rgba(32, 32, 32, 0.9); }
  .idea .idea_description h1 {
    padding: 2vw; }

.method {
  width: 100%;
  background: url("../img/method_1920.jpg");
  background-size: cover;
  height: 450px;
  text-align: right; }
  .method .section {
    display: inline-block;
    border-left: 150px solid transparent;
    border-top: 450px solid rgba(32, 32, 32, 0.9); }
  .method .method_description h1 {
    padding: 2vw; }

.price {
  width: 100%;
  background: url("../img/price.jpg") no-repeat center;
  background-size: cover; }
  .price .price_background {
    background: rgba(32, 32, 32, 0.7);
    padding-top: 100px; }

.amenities {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .amenities .amenities_one,
  .amenities .amenities_two,
  .amenities .amenities_three {
    height: auto;
    width: 30vw;
    background: rgba(32, 32, 32, 0.9);
    box-sizing: border-box;
    padding: 2vw; }
    .amenities .amenities_one .amenities_content,
    .amenities .amenities_two .amenities_content,
    .amenities .amenities_three .amenities_content {
      height: 30%; }
    .amenities .amenities_one img,
    .amenities .amenities_two img,
    .amenities .amenities_three img {
      width: 100%;
      opacity: 0.8; }
    .amenities .amenities_one h2,
    .amenities .amenities_two h2,
    .amenities .amenities_three h2 {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 2.2em;
      font-style: italic;
      color: white;
      text-align: center;
      padding: 0 0 2vw 0;
      margin: 0; }
    .amenities .amenities_one p,
    .amenities .amenities_two p,
    .amenities .amenities_three p {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 1.6em;
      color: #24b8f0;
      margin: 0 0 10px 0; }
    .amenities .amenities_one .amenities_content,
    .amenities .amenities_two .amenities_content,
    .amenities .amenities_three .amenities_content {
      height: calc(55% - 5vw); }
    .amenities .amenities_one ul,
    .amenities .amenities_two ul,
    .amenities .amenities_three ul {
      margin: 5px 0; }
    .amenities .amenities_one li,
    .amenities .amenities_two li,
    .amenities .amenities_three li {
      font-family: "MagistralC", sans-serif;
      font-size: 1.3em;
      color: white;
      line-height: 1.1em; }
    .amenities .amenities_one .cash,
    .amenities .amenities_two .cash,
    .amenities .amenities_three .cash {
      font-size: 1.9em;
      color: #24b8f0;
      text-align: right;
      padding: 0;
      margin: 1vw 0 1.5vw 0; }
    .amenities .amenities_one a,
    .amenities .amenities_two a,
    .amenities .amenities_three a {
      display: block;
      width: 70%;
      height: 50px;
      margin: 0 auto;
      text-align: center;
      border: 1px solid white;
      text-decoration: none;
      line-height: 50px;
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 2.2em;
      font-style: italic;
      color: white; }
    .amenities .amenities_one .options_img,
    .amenities .amenities_two .options_img,
    .amenities .amenities_three .options_img {
      width: 100%;
      height: auto;
      overflow: hidden; }
  .amenities .amenities_one:hover > .amenities_content ul li,
  .amenities .amenities_two:hover > .amenities_content ul li,
  .amenities .amenities_three:hover > .amenities_content ul li {
    color: black;
    font-family: "MagistralC-Bold", sans-serif; }
  .amenities .amenities_one:hover > h2,
  .amenities .amenities_two:hover > h2,
  .amenities .amenities_three:hover > h2 {
    color: black;
    transition: .2s; }
  .amenities .amenities_one:hover > a,
  .amenities .amenities_two:hover > a,
  .amenities .amenities_three:hover > a {
    border: 1px solid black;
    color: #24b8f0; }
  .amenities .amenities_one:hover,
  .amenities .amenities_two:hover,
  .amenities .amenities_three:hover {
    background: rgba(250, 250, 250, 0.9);
    transition: .2s; }
  .amenities .amenities_one a:hover,
  .amenities .amenities_two a:hover,
  .amenities .amenities_three a:hover {
    box-shadow: 0 0 5px #323232; }
  .amenities .amenities_one a:active,
  .amenities .amenities_two a:active,
  .amenities .amenities_three a:active {
    box-shadow: 0 0 5px #323232; }

.fullLesson {
  margin-top: 100px;
  width: 100%;
  background: rgba(32, 32, 32, 0.9);
  text-align: right; }
  .fullLesson .fullLesson_description {
    display: inline-block;
    width: 57%;
    vertical-align: top;
    padding: 1vw;
    box-sizing: border-box;
    text-align: left; }
    .fullLesson .fullLesson_description h2 {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 2.2em;
      font-style: italic;
      color: #24b8f0;
      text-align: center;
      margin: 1vw 0; }
    .fullLesson .fullLesson_description ul {
      margin: 5px 10px; }
    .fullLesson .fullLesson_description li {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 1.6em;
      color: white;
      line-height: 1.1em;
      margin: 5px 0; }
    .fullLesson .fullLesson_description a {
      text-decoration: none;
      font-family: "MagistralC-Bold", sans-serif;
      color: #24b8f0; }
  .fullLesson .fullLesson_img {
    display: inline-block;
    background: url(../img/ult.png) no-repeat left;
    height: 250px;
    width: 43%;
    background-size: cover; }

.certificate {
  height: 300px;
  width: 100%;
  background: rgba(32, 32, 32, 0.9);
  text-align: left;
  display: flex;
  align-items: center; }
  .certificate .certificate_description {
    display: inline-block;
    width: 57%;
    vertical-align: top;
    padding: 1vw;
    box-sizing: border-box;
    text-align: left; }
    .certificate .certificate_description h2 {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 2.2em;
      font-style: italic;
      color: #24b8f0;
      text-align: center;
      margin: 0 0 1vw 0; }
    .certificate .certificate_description p {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 1.6em;
      color: white;
      line-height: 1.1em;
      margin: 5px 0; }
  .certificate .certificate_img {
    display: inline-block;
    background: url(../img/certificate.png) no-repeat right center;
    height: 300px;
    width: 43%;
    background-size: cover; }

.fan {
  width: 100%;
  background: url(../img/fan.jpg) no-repeat;
  background-size: cover; }
  .fan .fan_background {
    background: rgba(32, 32, 32, 0.7);
    padding-top: 100px; }

.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .options .options_one,
  .options .options_two,
  .options .options_three {
    height: auto;
    max-width: 30vw;
    background: rgba(32, 32, 32, 0.9); }
    .options .options_one img,
    .options .options_two img,
    .options .options_three img {
      width: 100%;
      opacity: 0.8; }
    .options .options_one h2,
    .options .options_two h2,
    .options .options_three h2 {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 2.2em;
      font-style: italic;
      color: white;
      text-align: center;
      margin: 1.5vw 2vw 1vw; }
    .options .options_one p,
    .options .options_two p,
    .options .options_three p {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 1.6em;
      color: #24b8f0;
      margin: 0.5vw 2vw; }
    .options .options_one ul,
    .options .options_two ul,
    .options .options_three ul {
      margin: 5px 2vw;
      height: 8vh; }
    .options .options_one li,
    .options .options_two li,
    .options .options_three li {
      font-family: "MagistralC", sans-serif;
      font-size: 1.3em;
      color: white;
      line-height: 1.1em; }
    .options .options_one .cash,
    .options .options_two .cash,
    .options .options_three .cash {
      font-size: 1.9em;
      color: #24b8f0;
      text-align: right;
      padding-right: 2vw;
      margin: 0 0 1vw; }
    .options .options_one a,
    .options .options_two a,
    .options .options_three a {
      display: block;
      width: 70%;
      height: 50px;
      margin: 0 auto 2vw;
      text-align: center;
      border: 1px solid white;
      text-decoration: none;
      line-height: 50px;
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 2.2em;
      font-style: italic;
      color: white; }
    .options .options_one .options_img,
    .options .options_two .options_img,
    .options .options_three .options_img {
      width: 100%;
      height: auto;
      overflow: hidden; }
  .options .options_one:hover > ul li,
  .options .options_two:hover > ul li,
  .options .options_three:hover > ul li {
    color: black;
    font-family: "MagistralC-Bold", sans-serif; }
  .options .options_one:hover > h2,
  .options .options_two:hover > h2,
  .options .options_three:hover > h2 {
    color: black;
    transition: .2s; }
  .options .options_one:hover > a,
  .options .options_two:hover > a,
  .options .options_three:hover > a {
    border: 1px solid black;
    color: #24b8f0; }
  .options .options_one:hover,
  .options .options_two:hover,
  .options .options_three:hover {
    background: rgba(250, 250, 250, 0.9);
    transition: .2s; }
  .options .options_one a:hover,
  .options .options_two a:hover,
  .options .options_three a:hover {
    box-shadow: 0 0 5px #323232; }
  .options .options_one a:active,
  .options .options_two a:active,
  .options .options_three a:active {
    box-shadow: 0 0 5px #323232; }

.taxi_free {
  margin-top: 100px;
  height: 350px;
  width: 100%;
  background: rgba(32, 32, 32, 0.9);
  text-align: right; }
  .taxi_free .free_description {
    display: inline-block;
    width: 57%;
    height: 350px;
    vertical-align: top;
    padding: 2vw;
    box-sizing: border-box;
    text-align: left; }
    .taxi_free .free_description h2 {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 2.2em;
      font-style: italic;
      color: #24b8f0;
      text-align: center;
      margin: 0.5vw 0 1.5vw; }
    .taxi_free .free_description p {
      font-family: "MagistralC-Bold", sans-serif;
      font-size: 1.6em;
      color: white;
      margin: 1vw 0; }
    .taxi_free .free_description ul {
      margin: 5px 10px; }
    .taxi_free .free_description li {
      font-family: "MagistralC", sans-serif;
      font-size: 1.3em;
      color: white;
      line-height: 1.1em;
      margin: 5px 0; }
    .taxi_free .free_description a {
      text-decoration: none;
      font-family: "MagistralC-Bold", sans-serif;
      color: #24b8f0; }
  .taxi_free .taxiFree_img {
    display: inline-block;
    background: url(../img/drift_taxi.png) no-repeat left;
    height: 350px;
    width: 43%;
    background-size: cover; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 999; }

footer p {
  text-align: center;
  color: #e3e4e6;
  font-family: "MagistralC", sans-serif; }

.latest_1,
.latest_2,
.icons-wrap {
  display: inline-block;
  text-transform: uppercase;
  font-size: .85em; }

.icons-wrap {
  margin: 0 1vw; }

.icons-wrap a {
  padding: 0 0.5vh;
  text-decoration: none;
  font-size: 1.5em;
  color: white; }

.icons-wrap i:hover {
  transform: scale(1.3);
  transition: .2s; }

.fa-instagram:hover {
  color: #ff8847; }

.fa-vk:hover {
  color: #1c4889; }

.fa-pinterest-p:hover {
  color: #61a8c1; }

.latest_2 a {
  text-decoration: none; }

.onediv {
  width: 100%;
  height: 100vh;
  background-color: white; }

.twodiv {
  width: 100%;
  height: 100vh;
  background-color: #24b8f0; }

/*# sourceMappingURL=main.css.map */
